bin/
mem-sim
.vscode
*.dSYM

.DS_Store
.AppleDouble
.LSOverride

Desktop.ini

._*

Thumbs.db

.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

__MACOSX/